<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lantian.airflowsense">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".receiver.SampleDataReceiveService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".receiver.PseudoDataReceiveService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".receiver.BLEReceiveService"
            android:enabled="true"
            android:exported="true" />
    </application>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- Bluetooth Administration Configuration -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

</manifest>